/* ===============================
   ページ全体
================================ */

.register-form__content {
    width: 70%;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 60px;
}

/* ===============================
   タイトル
================================ */

.register-form__heading {
    text-align: center;
    margin-bottom: 50px;
}

.register-form__heading h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}


/* ===============================
   フォーム共通
================================ */

.form {
    width: 100%;
}

.form__group {
    margin-bottom: 30px;
}

.form__label--item {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


/* ===============================
   プロフィール画像
================================ */

.form__image-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.form__image-preview {
    width: 150px;
    height: 150px;
    background: #D9D9D9;
    object-fit: cover;
    border-radius: 50%;
}

.form__image-button {
    width: 179px;
    height: 49px;
    line-height: 49px;
    text-align: center;

    background: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;

    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


/* ===============================
   入力フォーム
================================ */

.form__input--text input {

    width: 680px;
    height: 60px;

    border: 1px solid #5F5F5F;
    border-radius: 4px;

    padding-left: 15px;
    font-size: 16px;
}

.form__group-content {
    margin-top: 10px;
}


/* ===============================
   エラーメッセージ
================================ */

.form__error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/* ===============================
   登録ボタン
================================ */

.form__button {
    margin-top: 40px;
}

.form__button-submit {

    width: 680px;
    height: 60px;

    background: #FF5555;
    border: none;
    border-radius: 5px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #fff;

    cursor: pointer;
}

.form__button-submit:hover {
    opacity: 0.9;
}